<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'e7e1bb76-ad4a-4eab-853c-0376e7367fcd'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        function seleccionar(id) {
            $("#seleccionado").val(id);
        }

        $(function () {
            var chat = $.connection.chatHub;
            var username;
            var nombre;
            do {
                username = prompt("Ingrese su correo: ");
                nombre = prompt("Ingrese su nombre: ");
            } while (username == null || username == "");

            chat.client.updateUsers = function (userCount, userList, UserId) {
                $('#onlineUsersCount').text('Online users: ' + userCount);
                $('#userList').empty();
                userList.forEach(function (o) {
                    $('#userList').append('<li>' + o.Username + '<button onclick=\'seleccionar("'+o.ID+'")\'>seleccionar</button></li>');
                });
            }

            chat.client.broadcastMessage = function (username,idUsuarioRespuesta, message) {
                $('#messagesArea').append('<li><strong>' + username + '</strong>: ' + message);
                $("#seleccionado").val(idUsuarioRespuesta);
            }

            $.connection.hub.start().done(function () {
                chat.server.connect(username,nombre);
            });

            $('#btnSendMessage').click(function () {
                var message = $('#userMessage').val();
                var usuario = $("#seleccionado").val();
                chat.server.send(usuario,message);
                $('#userMessage').val("");
            });
        });

    </script>

</body>
</html>
